* {
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    padding: 10px;
    background-color: blueviolet;
    color: aliceblue;
}

.container {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

label, input, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-color: blueviolet;
    color: blueviolet;
    font-weight: 600;
}

label {
    font-size: 20px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: blueviolet;
    color:aliceblue;
}

.output-div {
    border: solid;
    border-color: blueviolet;
    border-radius: 10px;
    /* min-width: fit-content; */
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    min-height: 30px;
    color: blueviolet;
    font-weight: 600;
}